@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    color: #3d3d3d;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
a:link{
    color: #3d3d3d;
}
a:active{
    color: #ff4d4d;
}
a:visited{
    color: #3d3d3d;
}
a:hover{
    color: #ff9f1a;
}
